.row
  .col-md-8
    %span.business_name= @organization.business_name
:css 
  body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    line-height: 1.42857143;
    color: #333;
  }
  hr{
    border-top: 2px solid #333333;
  }
  .business_name{
    color: blue;
  }
