#deleteConfirmationDialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal_custom
    .modal-content
      .modal-header.custom_close
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Confirmation
      .modal-body
        Are you sure you want to delete the following {{selectedCustomers().length}} items?
        %ul
          %li{:ng => {:repeat => "item in customers | filter:{checked:true}"}}
            {{item.name}}
            %i.fa.fa-question-circle{:ng => {:show => "item.can_destroy"}, :title => "This will not be deleted because associated with contract proposals"}
      .modal-footer{:style => "border: none"}
        .row
          .col-sm-9.col-sm-push-3
            .row
              .col-xs-6
                %button.btn.btn-default.cancel.btn-block{"data-dismiss" => "modal", :type => "button"} No
              .col-xs-6
                %button.btn.btn-success1.confirm_del.btn-block{"data-dismiss" => "modal", :type => "button", :'ng-click' => 'deleteCustomers()'} Yes
