#printConfirmationDialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal_custom
    .modal-content
      .modal-header.custom_close
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Confirmation
      .modal-body
        Are you sure want to print {{selectedProjects().length}} items. It will take some few seconds based on system capacity.
        %ul
          %li{:ng => {:repeat => "item in projects | filter:{checked:true}"}}
            {{item.project_group_name}}
      .modal-footer{:style => "border: none"}
        .row
          .col-sm-9.col-sm-push-3
            .row
              .col-xs-6
                %button.btn.btn-default.cancel.btn-block{"data-dismiss" => "modal", :type => "button"} No
              .col-xs-6
                =form_tag(print_multiple_business_project_groups_path(@business), method: "get", class: "nifty_form") do
                  =hidden_field_tag(:project_ids, "", :'ng-value' => 'selectProjectIds()|json')
                  =button_tag('Yes', :class => 'btn btn-success1 confirm_del btn-block', :'onclick' => "$('#printConfirmationDialog').modal('toggle')")