.manage_product{
  margin-left: auto;
  margin-right: auto;
  .input-group-addon{
    padding: 2px 6px;
    font-size: 13px;
  }
  input{
    font-size: 13px;
  }
  .col-md-2{
    width: 11% !important;
    padding-left: 3px;
    padding-right: 3px;
  }
}
