/* .container-fluid{
  div {
    text-align: left;
  }
} */
.contracts_projects{
    .header{
        height: 45px;
    }
    .destroy{
        margin-bottom: 5px;
    }
    .fields{
        line-height: 50px;
    }
    legend{
        margin-bottom: 0px;
    }
}
