.list-unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	color: #333;
	padding: 0 30px;
	margin:0;
}
.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.table thead tr {
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}
.table tr th {
	padding: 8px 0;
	text-align: left;
}
.table tr td {
	padding: 8px 0;
	text-align: left;
}
.rightth {
	width: 20%;
}
.page_title {
	margin: 0 0 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #333;
	font-size:30px;
}
.total_amount {
	border-top: 2px solid #333;
}
.table tr th.text-right, .table tr th .text-right, .table tr td .text-right, .table tr td.text-right {
	text-align: right;
	padding-right: 20px;
}
.clear{
    clear: both;
}
.main_page_left{
    float: left;
    width: 70%;
	padding-bottom:30px;
}
.main_page_right{
    float: right;
    width: 30%;
	padding-bottom:30px;
}
.main_title{
	font-size:36px;
	color:#0000ff;
	margin: 0 0 10px;
	padding-bottom: 10px;
}
.list-unstyled-top{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size:18px;	
}
.address_div {
	margin:0;
	padding:0;
}
.address_div p{
	font-size:18px;	
	margin:0;
	padding:0;
}
.row.printdiv{
	margin-left:-30px;
	margin-right:-30px;
	padding:15px;
	background:#ddd;
	text-align:right;
}
.row.printdiv .print{
	border:1px solid #3176D3;
	background:#3F87E8;
	color:#fff;
	padding:5px 15px;
	border-radius:5px;
	cursor:pointer;
}
.row.printdiv .print:hover{
	border:1px solid #3F87E8;
	background:#3176D3;
}
.topbar{
	padding-top:20px;
}
@media print {
.print {
	display: none !important;
}
.list-unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	color: #333;
	padding: 0 30px;
	margin:0;
}
.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.table thead tr {
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}
.table tr th {
	padding: 8px 0;
	text-align: left;
}
.table tr td {
	padding: 8px 0;
	text-align: left;
}
.rightth {
	width: 20%;
}
.page_title {
	margin: 0 0 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #333;
	font-size:30px;
}
.total_amount {
	border-top: 2px solid #333;
}
.table tr th.text-right, .table tr th .text-right, .table tr td .text-right, .table tr td.text-right {
	text-align: right;
	padding-right: 20px;
}
.clear{
    clear: both;
}
.main_page_left{
    float: left;
    width: 70%;
	padding-bottom:30px;
}
.main_page_right{
    float: right;
    width: 30%;
	padding-bottom:30px;
}
.main_title{
	font-size:36px;
	color:#0000ff;
	margin: 0 0 10px;
	padding-bottom: 10px;
}
.list-unstyled-top{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size:18px;	
}
.address_div {
	margin:0;
	padding:0;
}
.address_div p{
	font-size:18px;	
	margin:0;
	padding:0;
}
.row.printdiv{
	margin-left:-30px;
	margin-right:-30px;
	padding:15px;
	background:#ddd;
	text-align:right;
}
.row.printdiv .print{
	border:1px solid #3176D3;
	background:#3F87E8;
	color:#fff;
	padding:5px 15px;
	border-radius:5px;
	cursor:pointer;
}
.row.printdiv .print:hover{
	border:1px solid #3F87E8;
	background:#3176D3;
}
.topbar{
	padding-top:20px;
}
}